@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.swiper-container, .swiper-slide {
    width: 100%;
    height: 90vh; /* Adjust height as needed */
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.slide-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.slide-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.slide-description {
    font-size: 16px;
    margin-bottom: 15px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.slide-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #FF6347; /* Customize color */
    text-decoration: none;
    border-radius: 4px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
